* {
  margin: 0;
  height: 100%;
}

.App {
  background-color: lemonchiffon;
}


#drum-machine {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


}


#container {
  height: 300px;
  width: 500px;
  border: 3px ridge goldenrod;
  color: goldenrod;
  background-color: lemonchiffon;
  border-radius: 3px;
  padding: 20px;
}

#display {
  display: flex;
  flex-direction: column;
}


#interactive-content {
  display: flex;
  /* padding: 20px; */
  justify-content: space-around;
}

#pads {
  display: grid;
  /* grid-gap: 0px; */
  grid-template-columns: 1fr 1fr 1fr;
  
}

.drum-button {
  padding: 0px;
  height: 70px;
  width: 70px;
  color: lemonchiffon;
  background-color: goldenrod;
  border-radius: 8px;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
}

.drum-button p {
  /* text-align: center; */
  line-height: 3.5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

#options {
  display: flex;
  height: auto;
  flex-direction: column;
  /* border: 1px solid black; */
  /* text-align: center; */
  align-items: center;
  padding: 10px;
}

/* #display-title {
  height: 50px;
} */