* {
  margin: 0;
  height: 100%;
}

.App {

}


#drum-machine {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


}


#container {
  height: 400px;
  width: 800px;
  border: 3px solid red;
  padding: 20px;
}

#display {
  display: flex;
  flex-direction: column;
}


#interactive-content {
  display: flex;
  /* padding: 20px; */
  justify-content: space-around;
}

#pads {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-button {
  padding: 0px;
  height: 70px;
  width: 70px;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
}

.drum-button p {
  /* text-align: center; */
  line-height: 4.5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

#options {
  display: flex;
  height: auto;
  flex-direction: column;
  border: 1px solid black;
  /* text-align: center; */
  align-items: center;
}
