* {
  margin: 0;
  height: 100%;
}

.App {

}


#drum-machine {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


}


#container {
  height: 400px;
  width: 800px;
  border: 3px solid red;
  padding: 20px;
}

#display {
  display: flex;
  flex-direction: column;
}


#interactive-content {
  display: flex;
  /* padding: 20px; */
  justify-content: center;
}

#pads {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-button {
  height: 70px;
  width: 70px;
  display: flex;
  /* align-items: ; */
  justify-content: center;
}

ul {
  list-style-type: none;
}

#options {
  display: flex;
  flex-direction: column;
}
